<a href="https://colab.research.google.com/github/B2Kwame/Data-Normalization-and-Merging-Project.ipynb/blob/main/Data_Normalization_and_Merging_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
# Function to normalize names
def normalize_name(name):
    if pd.isna(name) or not isinstance(name, str):
        return name  # Return as is if NaN or not a string
    return ' '.join(sorted(name.lower().split()))

In [ ]:
# Load the multi-sheet Excel file
xls = pd.ExcelFile('FREESHS.xlsx')

In [ ]:
# Get the list of valid sheet names
sheet_names = xls.sheet_names

# Combine all sheets into one DataFrame
df_multi = pd.concat({sheet_name: xls.parse(sheet_name) for sheet_name in sheet_names}, ignore_index=True)

In [ ]:
# Load the single-sheet Excel file
df_single = pd.read_csv('RegistrantsACM.csv')

In [ ]:
# Define the key column names for both dataframes
key_column_multi = 'Student_Name'  # Change to your actual column name in multi-sheet file
key_column_single = 'NAME'  # Change to your actual column name in single-sheet file

In [ ]:
print(df_multi.columns)
print(df_single.columns)

Index(['Region', 'District', 'Student_Name', 'Age', 'Age 2024 (6)',
       'Age 2024 (7)', 'Guardian Mobile_1', 'STATUS', 'Registration #',
       'School', 'Unnamed: 3', 'Guardian', 'Mobile1', 'Mobile 2', 'Mobile'],
      dtype='object')
Index(['Voter Id', 'NAME', 'FATHER NAME', 'MOTHER NAME', 'CONTACT', 'Age',
       'DATE OF BIRTH', 'GENDER', 'TOWN', 'REGION', 'DISTRICT',
       'POLLING STATION CODE', 'POLLING STATION NAME'],
      dtype='object')

In [ ]:
# Apply normalization to the names in both dataframes
df_multi['normalized_name'] = df_multi[key_column_multi].apply(normalize_name)
df_single['normalized_name'] = df_single[key_column_single].apply(normalize_name)

In [ ]:
print(df_multi[key_column_multi].head())
print(df_single[key_column_single].head())

0    IBRAHIM SHARIFA OKYEREWA
1           ALHASSAN SHAIMAWU
2             MORO DAUDA KOFI
3                 AMINA AMIDU
4        ASSUAH JANET NKROMAH
Name: Student_Name, dtype: object
0           EDMOND KOFI APPIAH
1                 DIANA MENSAH
2         EMMANUEL BAAH ARTHUR
3       KWAKU ASAMOAH-FRIMPONG
4     MERCY BOAHEMAAH BOSOMPEM
Name: NAME, dtype: object

In [ ]:
common_data = pd.merge(df_multi, df_single, left_on='Student_Name', right_on='NAME')

In [ ]:
print(common_data.head())

  Region     District Student_Name  Age_x  Age 2024 (6)  Age 2024 (7)  \
0    NaN        Accra  AKUA BOAKYE     20           NaN           NaN
1    NaN  Accra Metro        OFFEI     21           NaN           NaN

   Guardian Mobile_1 STATUS  Registration #             School  ...  \
0                NaN    NaN             NaN  Ga West Municipal  ...
1                NaN    NaN             NaN                NaN  ...

       CONTACT Age_y  DATE OF BIRTH  GENDER               TOWN         REGION  \
0  208609701.0    20       1/6/1988  Female           MATAHEKO  GREATER ACCRA
1  244123456.0    21       8/9/1990    Male  TOWN COUNCIL LINE  GREATER ACCRA

                  DISTRICT POLLING STATION CODE  \
0  ABLEKUMA CENTRAL MUNICI              C170706
1  ABLEKUMA CENTRAL MUNICI              C170706

                         POLLING STATION NAME normalized_name_y
0  PRESBY PRIMARY SCHOOL. LARTEBIOKORSHIE (2)       akua boakye
1                 CRIPPLES HOME (2). KANESHIE             offei

[2 rows x 30 columns]

In [ ]:
# Merging dataframes to find common entries
common_data = pd.merge(df_multi, df_single, left_on=key_column_multi, right_on=key_column_single)

In [ ]:
# Analysis: For example, count how many entries are common
common_count = common_data.shape[0]

In [ ]:
# Optionally, save the result to a new Excel file
common_data.to_excel('common_data_output.xlsx', index=False)

In [ ]:
# Print the result or analysis
print(f"Number of common entries: {common_count}")
print(common_data.head())  # Display first few rows of the common data

Number of common entries: 2
  Region     District Student_Name  Age_x  Age 2024 (6)  Age 2024 (7)  \
0    NaN        Accra  AKUA BOAKYE     20           NaN           NaN
1    NaN  Accra Metro        OFFEI     21           NaN           NaN

   Guardian Mobile_1 STATUS  Registration #             School  ...  \
0                NaN    NaN             NaN  Ga West Municipal  ...
1                NaN    NaN             NaN                NaN  ...

       CONTACT Age_y  DATE OF BIRTH  GENDER               TOWN         REGION  \
0  208609701.0    20       1/6/1988  Female           MATAHEKO  GREATER ACCRA
1  244123456.0    21       8/9/1990    Male  TOWN COUNCIL LINE  GREATER ACCRA

                  DISTRICT POLLING STATION CODE  \
0  ABLEKUMA CENTRAL MUNICI              C170706
1  ABLEKUMA CENTRAL MUNICI              C170706

                         POLLING STATION NAME normalized_name_y
0  PRESBY PRIMARY SCHOOL. LARTEBIOKORSHIE (2)       akua boakye
1                 CRIPPLES HOME (2). KANESHIE             offei

[2 rows x 30 columns]